:root {
	--fg: hsl(200, 10%, 45%);
	--bg: hsl(200, 10%, 20%);
	--shadow: hsl(200, 0%, 0%);
}

.App {
	background-color: var(--bg);
	color: var(--fg);
	min-height: 100vh;
}

section {
	text-align: center;
	padding: 20px;
}

h1 {
	font-weight: normal;
	padding: 24px 8px;
	border-bottom: 1px solid var(--fg);
	margin: 0 auto;
	width: fit-content;
}
