:root {
	--fg: hsl(250, 10%, 35%);
	--bg: hsl(250, 10%, 15%);
}

.App {
	background-color: var(--bg);
	color: var(--fg);
	min-height: 100vh;
	text-align: center;
}

h1 {
	font-weight: normal;
	padding: 24px 8px;
	border-bottom: 1px solid var(--fg);
	margin: 0 auto;
	width: fit-content;
}
